<h3>image</h3>
<%= current_user.name %>
<%= current_user.introduction %>

<%# @user.each do |user| do %>
  <table>
    <tr>
      <th>user.image<br>user.name</th>
      <th>book_name</th>
      <th>caption</th>
    </tr>
    <tr>
      <td>image<br>user.name</td>
      <td>book_name</td>
      <th>caption</th>
    </tr>
  </table>
<%# end %>