<h3>image</h3>
<%= current_user.name %>
<%= current_user.introduction %>

<%# @user.each do |user| %>
  <table>
    <tr>
      <th>image</th>
      <th>user.name</th>
      <th>user.introduction</th>
    </tr>
    <tr>
      <td>image</td>
      <td>user.name</td>
      <td>user.introduction</td>
    </tr>
  </table>
<%# end %>