<h1>postimageindex</h1>

<%# @post_image.each do |f| %>
<table>
  <tr>
    <th>user.image<br>user.name</th>
    <th>image</th>
    <th>book_name</th>
    <th>caption</th>
  </tr>
  <tr>
    <th>user.image<br>user.name</th>
    <th>book.image</th>
    <th>book.name</th>
    <th>caption</th>
  </tr>
</table>
<%# end %>